<a href="https://colab.research.google.com/github/RezaulKarim-506/research/blob/master/my_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('/content/drive/MyDrive/Data/dataset_for_Bangla_as_text.csv',encoding = "utf-16", sep = "\t")

In [5]:
data.head()

                                           Reviews    Feelings  Polarity
0                      জমে উঠেছে গ্রুপ বি এর খেলা।  excitement  positive
1  এখন খেলা হপ্পে, যে দল হারবে সেই দল বাদ পড়ে যাবে  excitement   neutral
2                                     সব কয়টা সমান       other   neutral
3                 সোজা হিসাব যে হারবে সেই বাদ পরবে         sad  positive
4                                       হিসাব বরবর       other   neutral

In [6]:
data

                                                Reviews    Feelings  Polarity
0                           জমে উঠেছে গ্রুপ বি এর খেলা।  excitement  positive
1       এখন খেলা হপ্পে, যে দল হারবে সেই দল বাদ পড়ে যাবে  excitement   neutral
2                                          সব কয়টা সমান       other   neutral
3                      সোজা হিসাব যে হারবে সেই বাদ পরবে         sad  positive
4                                            হিসাব বরবর       other   neutral
...                                                 ...         ...       ...
4996  জাতীয় দলে এনে রানের ফোয়াড়া বন্ধ করার জন্য কতৃপ...         sad  positive
4997                   যেমন বোলার তেমন ব্যাটসম্যান.....       happy  positive
4998                     টেস্ট ও ওডিআই এর জন্য ঠিক আছে।       other   neutral
4999            রানের ফোয়ারা শুধু ঘরোয় পরিবেশেই সম্ভব       happy  negative
5000                                                NaN         NaN       NaN

[5001 rows x 3 columns]

In [7]:
data.shape

(5001, 3)

In [12]:
print("Total reviews : ",len(data),
"\nTotal Positive reviews : ",len(data[data.Polarity == 'positive']),
"\nTotal Negative reviews : ",len(data[data.Polarity == 'negative']),
"\nTotal Neutral reviews : ",len(data[data.Polarity == 'neutral']),
)

Total reviews :  5001
Total Positive reviews :  2617
Total Negative reviews :  1070
Total Neutral reviews :  1310

In [15]:
print("Total reviews : ",len(data),
"\nTotal number of Excitement from reviews : ",len(data[data.Feelings == 'excitement']),
"\nTotal number of Sad from reviews : ",len(data[data.Feelings == 'sad']),
"\nTotal number of Happy from reviews : ",len(data[data.Feelings == 'happy']),
"\nTotal number of Disgust from reviews : ",len(data[data.Feelings == 'disgust']),
"\nTotal number of Surprise from reviews : ",len(data[data.Feelings == 'surprise']),
"\nTotal number of Fear from reviews : ",len(data[data.Feelings == 'fear']),
"\nTotal number of Other from reviews : ",len(data[data.Feelings == 'other']),
)

Total reviews :  5001
Total number of Excitement from reviews :  303
Total number of Sad from reviews :  901
Total number of Happy from reviews :  1569
Total number of Disgust from reviews :  259
Total number of Surprise from reviews :  352
Total number of Fear from reviews :  13
Total number of Other from reviews :  1354